.cardContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.cardClass{
  width: 765px;
  margin-right: 5px;
  margin-left: 5px;
}

@media only screen and (max-width: 767px) {
  .cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .cardClass{
    width: 350px;
    margin: auto;
    margin-right: 0;
    margin-left: 0;
    margin: auto;
  }
  .projectsContainer{
    margin-top:20px;
  }
  .hide-at-lg{
    display:block;
  }
}

.MuiTypography-h5 {
  fony-size: 1.2rem !important;
}
.MuiCardMedia-media {
  height: 400px !important;
}
@media only screen and (min-width: 768px) {
  .hide-at-lg{
    display:none;
  }
}
