.about-section{
  font-size: 15px;
  line-height: 1.55;
  font-weight: 400;
  letter-spacing: .03em;
  position: sticky;
  position: sticky;
  top: 8vw;
  display: flex;
  max-height: 58vh;
  flex-direction: column;
}

.about-me{
  font-size: 13px;
  margin-top: 40px;
}

.about-me-wrapper{
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px){
  .about-section{
    position: static;
    margin-bottom: 50px;
    max-height: initial;
  }
}

.hello-container{
  font-size: 1.5rem;
  color: #1d1d1d;
  transition: all 1s;
}

@media screen and (max-width: 767px){
  .hello-container{
    font-size: 1.4rem;
    padding-top: 40px;
    transition: all 1s;
  }
  .about-me{
    margin-top: 30px;
  }
}


.dark .hello-container{
  color: #fff;
}

.say-hello-wrapper {
  margin-top: 50px;
}

.about-links-wrapper{
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-between;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.about-link-item-container{
  color: #000;
  transition: color 1s;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dark .about-link-item-container{
  color: #fff;
}

.about-link-item-arrow{
  padding-left: 5px;
  margin-left: 5px;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}

.about-link-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about-link-item-anchor:hover > div > .about-link-item-arrow{
  transform: translate(5px,0);
  -webkit-transform: translate(5px,0);
  -moz-transform: translate(5px,0);
  -o-transform: translate(5px,0);
  -ms-transform: translate(5px,0);
}

.about-link-item-anchor:active > div > .about-link-item-arrow{
  transform: translate(15px,0);
  -webkit-transform: translate(15px,0);
  -moz-transform: translate(15px,0);
  -o-transform: translate(15px,0);
  -ms-transform: translate(15px,0);
}


.about-link-item-description{
  color: #888;
  display: flex;
  transition: color 1s;
}

.dark .about-link-item-description{
  color: #ababab;
  transition: color 1s;
}


.say-hello-button-wrapper{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.about-link-item-anchor{
  text-decoration: none;
  color: initial;
}

.arrow-svg{
  transition: filter 1s;
}

.dark .arrow-svg{
  filter:invert(1);
  transition: filter 1s;
}

.resume-button{
  color: #000;
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-decoration: underline;
  transition: color 1s;
}

.resume-button{
  color: #000;
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-decoration: underline;
  transition: color 1s;
}

.resume-button:hover{
  color: grey;
  transition: color 0s;
}

.dark .resume-button{
  color: #fff
}

.dark .resume-button:hover{
  color: grey;
  transition: color 0s;
}

