@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

body {
  margin: 0;
}

.App {
  text-align: center;
  font-family: 'Fredoka One', cursive;

}

@media only screen and (min-width: 768px) {
  .App{
    height: 100vh;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark{
  background-color: #202326;
  color: #fff;
  transition: all 0.5s ease 0s;
}

.light{
  background-color: #fff;
  color: #202326;
  transition: all 0.5s ease 0s;
}

::-moz-selection { background:transparent; }
::selection { background:transparent; }

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

}
